solceri-1650a-firebase-adminsdk-vf2d0-4592ae5a29.json

# Ignorar archivos .pyc
*.pyc

# Cambios de la base de datos.
utils/db.py

# Ignorar carpetas __pycache__
__pycache__/
**/__pycache__/
utils/__pycache__/auth.cpython-312.pyc
utils/__pycache__/config.cpython-312.pyc
utils/__pycache__/db.cpython-312.pyc
utils/__pycache__/firebase.cpython-312.pyc
utils/__pycache__/servicio_mail.cpython-312.pyc
utils/db.py
