@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');

/*Index*/
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporción 16:9 (Dividir 9 entre 16 para obtener el porcentaje) */
    overflow: hidden;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para cubrir el contenedor */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3vw; /* Tamaño de fuente responsive basado en el ancho de la ventana */
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 2vw; /* Espaciado responsive basado en el ancho de la ventana */
    box-sizing: border-box;
}
.title-banner{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.p-banner{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.solceri-media{
    padding-top: 30px;
    width: 100%;
    height: 50%;
}

.disabled {
    background-color: #6c757d;
    color: black;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}


/**/



/**/


@media (min-width: 768px) and (max-width: 1024px) {
    .overlay {
        font-size: 5vw;
        padding: 4vw;
    }
    .p-banner {
        font-size: 3vw;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .title-banner{
        font-size: 1.2rem;
    }
    .p-banner{
        display: none;
    }
    
}


/*Dashboard*/

.card-header strong,
.card-header p,
.card-header h5 {
    color: white;
}

.card-header h3{
    font-size: 1.2rem;
}



/* Tabs  */
.sectionTabs .nav-tabs {
    border: 0;
}

.sectionTabs .nav-tabs .nav-link {
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease-in;
    cursor: pointer;
    background-color: #111;
    color: white;
}

.sectionTabs .nav-tabs .nav-link.active {
    background-color: #eebb60;
    color: white !important;
}

.sectionTabs .nav-tabs .nav-link h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 35px;
    color: white;
}

.sectionTabs .tab-pane h4 {
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
}

.sectionTabs h3 {
    font-weight: bolder;
}

.sectionTabs .tab-pane .list-group-item {
    background-color: #f4943d;
    border: none;
}

.btn-solceri {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #265071;
    padding: 0.45rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-solceri:hover {
    background-color: #eebb60;
}

.btn-solceri-new {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #111;
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-solceri-new:hover {
    background-color: #eebb60;
}

.btn-solceri-eliminar {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #ec0000;
    padding: 0.45rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-solceri-eliminar:hover {
    background-color: #f63131;
}

.sidebar-toggle{
    margin: 20px;
}

form span{
    color: red;
}

.textarea-cliente textarea,
.textarea-cliente textarea:focus {
    background-color: #fff586;
}

.profile-tt{
    padding: 10px;
}

.profile-img-tt img{ /*Ajustar medias*/
    width: 60px;
    border-radius: 40px;
}

.profile-tt-user{
    background-color: #fff586;
    padding: 10px;
    border-radius: 20px;
}

.profile-tt-user .msg-client{
    background-color: #265071;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion{
    text-decoration: none !important;
    color: #111;
}
.fc-button-primary{
    background-color: #111 !important;
    border: none !important;
}

.img-empty{
    width: 5%;
}

.section-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.centered-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}


.fc-button{
    background-color: #265071 !important;
}

/* Tiquetes */

.my-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Distancia entre las tarjetas */
}

/* Estilo por defecto: 3 columnas */
.my-cards-container .card {
    flex-basis: calc(33.333% - 10px); /* 3 columnas en pantallas grandes */
    margin-bottom: 10px;
}

/*tabs*/

.tabs li a{
    
    color: black;
}

.tabs .nav-link.active {
    background-color: transparent !important;
    color: black !important;
    border-bottom: 2px solid #1d4d72;
}

.comentarios {
    background-color: #e9ecef; /* Color de fondo ligeramente más claro que #f5f7fb */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    border: 1px solid #d0d7de; /* Borde ligero para mayor definición */
}

.comentarios h5 {
    font-size: 1rem; /* Tamaño del texto del nombre del usuario */
    white-space: nowrap; /* Evita el salto de línea en el nombre del usuario */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Añade "..." si el texto es muy largo */
    max-width: 200px; /* Ancho máximo del nombre del usuario */
}

.comentarios small {
    font-size: 0.875rem; /* Tamaño de la fecha */
    color: #333; /* Color de la fecha */
}

/* General Styles for the Card and Icons */
.sla-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*Colores para sla*/
/* Colores personalizados para SLA */
.sla-verde {
    background-color: #1e9526 !important; /* Verde */
}

.sla-amarillo {
    background-color: #ff9c37 !important; /* Amarillo */
}

.sla-rojo {
    background-color: #c7313d !important; /* Rojo */
}

.border-primary {
    border-bottom: black !important;
}

/*.tt-on-time .card-header {
    background-color: ;
}

.tt-on-running .card-header {
    background-color: #ff9c37;
}

.tt-on-late .card-header {
    background-color: #e9286b;
}*/

/* Estilo para tabletas: 2 columnas */
@media (max-width: 768px) {
    .my-cards-container .card {
        flex-basis: calc(50% - 10px); /* 2 columnas en pantallas medianas (tabletas) */
    }
}

/* Estilo para móviles: 1 columna */
@media (max-width: 576px) {
    .my-cards-container .card {
        flex-basis: calc(100% - 10px); /* 1 columna en pantallas pequeñas (móviles) */
    }
}

@media only screen and (max-width: 480px) {
    img{
        width: 100%;
        padding: 20px;
    }

    .login{
        height: 450px;
    }

  }

@media only screen and (min-width: 760px) and (max-width: 890px) {
    .card-header h3, .estado-tt, .tiempo-tt{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .card-header h3, .estado-tt, .tiempo-tt{
        font-size: 1rem !important;
    }
}
