/*Dashboard*/

.card-header strong,
.card-header p,
.card-header h5 {
    color: white;
}

.tt-on-time .card-header {
    background-color: #315973;
}

.tt-on-running .card-header {
    background-color: #ff9c37;
}

.tt-on-late .card-header {
    background-color: #e9286b;
}

/* Tabs  */
.sectionTabs .nav-tabs {
    border: 0;
}

.sectionTabs .nav-tabs .nav-link {
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease-in;
    cursor: pointer;
    background-color: #111;
    color: white;
}

.sectionTabs .nav-tabs .nav-link.active {
    background-color: #eebb60;
    color: white !important;
}

.sectionTabs .nav-tabs .nav-link h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 35px;
    color: white;
}

.sectionTabs .tab-pane h4 {
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
}

.sectionTabs h3 {
    font-weight: bolder;
}

.sectionTabs .tab-pane .list-group-item {
    background-color: #f4943d;
    border: none;
}

.btn-solceri {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #265071;
    padding: 0.45rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-solceri:hover {
    background-color: #eebb60;
}

.btn-solceri-new {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #111;
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-solceri-new:hover {
    background-color: #eebb60;
}

.sidebar-toggle{
    margin: 20px;
}

form span{
    color: red;
}

.textarea-cliente textarea,
.textarea-cliente textarea:focus {
    background-color: #fff586;
}

.profile-tt{
    padding: 10px;
}

.profile-img-tt img{ /*Ajustar medias*/
    width: 60px;
    border-radius: 40px;
}

.profile-tt-user{
    background-color: #fff586;
    padding: 10px;
    border-radius: 20px;
}

.profile-tt-user .msg-client{
    background-color: #265071;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion{
    text-decoration: none !important;
    color: #111;
}
.fc-button-primary{
    background-color: #111 !important;
    border: none !important;
}