<!-- templates/reset_password.html -->
<form method="POST">
    <label for="contraseña_temp">Contraseña Temporal:</label>
    <input type="password" name="contraseña_temp" required>
    <label for="nueva_contraseña">Nueva Contraseña:</label>
    <input type="password" name="nueva_contraseña" required>
    <label for="confirmacion_contraseña">Confirmar Nueva Contraseña:</label>
    <input type="password" name="confirmacion_contraseña" required>
    <button type="submit">Restablecer Contraseña</button>
</form>
source env/Scripts/activate