{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<div>
    <h1 class="pb-3 section-title">Catálogo</h1>
</div>

<div class="d-flex justify-content-between pb-3">
    <div class="d-flex align-items-center">
        <label for="nombre">Buscar:</label>
        <input type="text" class="form-control mx-3" id="inputBusqueda" placeholder="Datos del producto">
    </div>
    <div>
        <a href="/catalogo/create"><button class="btn-solceri">Agregar</button></a>
    </div>

</div>
{% if catalogo %}
<div class="table-responsive">
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>SKU</th>
                <th>Producto</th>
                <th>Foto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaCatalogo" class="text-center">
            {% for producto in catalogo %}
            <tr id="fila{{ producto.id_catalogo }}">
                <td>{{ producto.sku }}</td>
                <td>{{ producto.nombre_producto }}</td>
                <td><img src="{{ producto.ruta_imagen }}" alt="Foto de {{ producto.nombre_producto }}"
                        style="width: 50px; height: 50px;"></td>
                <td>{{ producto.descripcion }}</td>
                <td>₡{{ producto.precio }}</td>
                <td>
                    <a href="{{ url_for('catalogo.catalogo_editar', id=producto.id_catalogo) }}"
                        style="text-decoration: none;" class="btn-solceri"><strong>Modificar</strong></a>
                    <a href="#" style="text-decoration: none;" class="btn-solceri-eliminar"
                        data-id="{{ producto.id_catalogo }}" data-producto="{{ producto.nombre_producto }}"
                        onclick="confirmDelete(this)">
                        <strong>Eliminar</strong>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center flex-column" style="height: 50vh;">
    <img src="{{ url_for('static', filename='images/empty.png') }}" alt="Not found" class="img-empty">
    <p class="mt-3">No se han encontrado artículos</p>
    {% if user_role == 1%}
        <a href="{{url_for('catalogo.catalogo_crear')}}"><button class="btn btn-success btn-md">Agregar</button> </a>
    {% endif %}
</div>
{% endif %}


<!--Ver detalles-->
<div class="modal fade" id="detalles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Descripción de producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, maxime consequuntur? Accusamus
                    saepe perferendis maiores accusantium iure aliquam temporibus assumenda fuga reiciendis vitae
                    mollitia quis, nesciunt doloremque sapiente architecto eius!</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Listo</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}