{% extends "layout.html" %}
{% block content %}

<div class="d-flex flex-column">
    <h2>Editar categoría</h2>
    <form id="categoriaEditarForm" method="POST" action="{{ url_for('categorias.editar_categoria', id_categoria=categoria.id_categoria) }}">
        <div>
            <div class="pb-2">
                <label for="nombre">Nombre de la categoría<span>*</span></label>
                <input type="text" class="form-control" name="categoria" value="{{ categoria.categoria }}" required placeholder="Nombre de categoria">
            </div>
            <div class="pb-2">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" rows="3" name="descripcion" required placeholder="Descripción">{{ categoria.descripcion }}</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('categorias.categorias') }}" class="btn btn-danger btn-md mx-2">Cancelar</a>
            <button type="submit" class="btn btn-success btn-md">Confirmar</button>
        </div>
    </form>
</div>

{% endblock %}