{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('cotizaciones.crear_cotizacion') }}">
    <div class="mb-3">
        <label for="codigo_tiquete" class="form-label">Número de tiquete</label>
        <input type="text" class="form-control" id="codigo_tiquete" name="codigo_tiquete" required>
    </div>
    <div class="mb-3"> <!--User in session-->
        <label for="id_usuario" class="form-label">Creado por:</label>
        <input type="text" class="form-control" id="id_usuario" name="id_usuario" required>
    </div>
    <div class="mb-3"> <!--De la cotizacion-->
        <label for="fecha_creacion" class="form-label">Fecha de creación</label>
        <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" required>
    </div>


    <button type="submit" class="btn btn-primary">Guardar Grupo</button>
</form>


{% endblock %}