{% extends "layout.html" %}
{% block content %}

<!-- Interno -->
<!-- Interno -->
<section class="container">
    <h1>¡Bienvenido, {{ nombre_usuario }}!</h1>
    <div class="mb-3 text-end">
        <button onclick="window.location.reload();" class="btn btn-secondary btn-solceri">Refrescar</button>
    </div>
    <div class="d-flex justify-content-between">
        <h3>Tiquetes activos</h3>
    </div>

    <!-- Nav pills -->
    <ul class="nav nav-pills tabs py-2">
        {% if user_role != 3 %}
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#todos" >Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#asignados">Asignados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#en-progreso">En progreso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#en-espera">En espera</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#llamar-cliente">Llamar cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#en-camino">En camino</a>
        </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="todos">
            <div class="container my-cards-container">
                <!-- Aquí se mostrarán todos los tiquetes -->
                {% for tiquete in todos_los_tiquetes %}
                <div class="card tt-on-time tiquete" style="width: 18rem; max-width: 18rem;"
                    data-fecha-asignacion="{{ tiquete.fecha_asignacion }}" data-on-time="{{ tiquete.grupo.on_time }}"
                    data-running-late="{{ tiquete.grupo.running_late }}" data-is-late="{{ tiquete.grupo.is_late }}">
                    <div class="card-header border-bottom" id="paint-status">
                        <div class="d-flex flex-column">
                            <!-- Número de tiquete -->
                            <div>
                                <h3 class="mb-0"><strong class="numero_tiquete_dash">
                                    {% if user_role == 1 or user_role == 2 %}
                                        <a href="{{ url_for('tiquetes.tiquete_editar', id=tiquete.id_tiquete) }}"># {{ tiquete.id_tiquete }}</a>
                                    {% else %}
                                        # {{ tiquete.id_tiquete }}
                                    {% endif %}
                                </strong></h3>
                            </div>
                            <!-- Status y Tiempo -->
                            <div class="d-flex py-2">
                                <strong>Status:</strong>
                                <p class="px-1 mb-0">{{ tiquete.estado.estado }}</p>
                            </div>
                            <div class="d-flex mt-1">
                                <strong>Tiempo:</strong>
                                <p class="px-1 mb-0 tiempo_transcurrido">00:00:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <strong class="card-text">Cliente:</strong>
                            <p class="px-2">{{ tiquete.cliente.nombre }} {{ tiquete.cliente.primer_apellido }}</p>
                        </div>
                        <div>
                            <strong>Fecha creación:</strong>
                            <p>{{ tiquete.fecha_creacion }}</p>
                        </div>
                        <div>
                            <strong>Asignado:</strong>
                            <p class="d-block">{{ tiquete.trabajador.nombre }} {{ tiquete.trabajador.primer_apellido }}
                            </p>
                        </div>
                        <div>
                            <strong>Grupo asignado:</strong>
                            <p class="d-block">{{ tiquete.grupo.nombre }}</p>
                        </div>
                        <div>
                            <strong>Resumen:</strong>
                            <p class="d-block">{{ tiquete.resumen }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ url_for('tiquetes.tiquete_detalles', id=tiquete.id_tiquete) }}" class="btn btn-solceri">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane container fade" id="asignados">
            <div class="container my-cards-container">
                <!-- Aquí se mostrarán los tiquetes asignados -->
                {% for tiquete in tiquetes_asignados %}
                <div class="card tt-on-time tiquete" style="width: 18rem; max-width: 18rem;"
                    data-fecha-asignacion="{{ tiquete.fecha_asignacion }}" data-on-time="{{ tiquete.grupo.on_time }}"
                    data-running-late="{{ tiquete.grupo.running_late }}" data-is-late="{{ tiquete.grupo.is_late }}">
                    <div class="card-header border-bottom border-primary" id="paint-status">
                        <div class="d-flex flex-column">
                            <!-- Número de tiquete -->
                            <div>
                                <h3 class="mb-0"><strong class="numero_tiquete_dash">
                                    {% if user_role == 1 or user_role == 2 %}
                                        <a href="{{ url_for('tiquetes.tiquete_editar', id=tiquete.id_tiquete) }}"># {{ tiquete.id_tiquete }}</a>
                                    {% else %}
                                        # {{ tiquete.id_tiquete }}
                                    {% endif %}
                                </strong></h3>
                            </div>
                            <!-- Status y Tiempo -->
                            <div class="d-flex py-2">
                                <strong>Status:</strong>
                                <p class="px-1 mb-0">{{ tiquete.estado.estado }}</p>
                            </div>
                            <div class="d-flex mt-1">
                                <strong>Tiempo:</strong>
                                <p class="px-1 mb-0 tiempo_transcurrido">00:00:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <strong class="card-text">Cliente:</strong>
                            <p class="px-2">{{ tiquete.cliente.nombre }} {{ tiquete.cliente.primer_apellido }}</p>
                        </div>
                        <div>
                            <strong>Fecha creación:</strong>
                            <p>{{ tiquete.fecha_creacion }}</p>
                        </div>
                        <div>
                            <strong>Asignado:</strong>
                            <p class="d-block">{{ tiquete.trabajador.nombre }} {{ tiquete.trabajador.primer_apellido }}
                            </p>
                        </div>
                        <div>
                            <strong>Grupo asignado:</strong>
                            <p class="d-block">{{ tiquete.grupo.nombre }}</p>
                        </div>
                        <div>
                            <strong>Resumen:</strong>
                            <p class="d-block">{{ tiquete.resumen }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ url_for('tiquetes.tiquete_detalles', id=tiquete.id_tiquete) }}" class="btn btn-solceri">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="tab-pane container fade" id="en-progreso">
            <div class="container my-cards-container">
                <!-- Aquí se mostrarán los tiquetes en progreso -->
                {% for tiquete in tiquetes_en_progreso %}
                <div class="card tt-on-time tiquete" style="width: 18rem; max-width: 18rem;"
                    data-fecha-asignacion="{{ tiquete.fecha_asignacion }}" data-on-time="{{ tiquete.grupo.on_time }}"
                    data-running-late="{{ tiquete.grupo.running_late }}" data-is-late="{{ tiquete.grupo.is_late }}">
                    <div class="card-header border-bottom border-primary" id="paint-status">
                        <div class="d-flex flex-column">
                            <!-- Número de tiquete -->
                            <div>
                                <h3 class="mb-0"><strong class="numero_tiquete_dash">
                                    {% if user_role == 1 or user_role == 2 %}
                                        <a href="{{ url_for('tiquetes.tiquete_editar', id=tiquete.id_tiquete) }}"># {{ tiquete.id_tiquete }}</a>
                                    {% else %}
                                        # {{ tiquete.id_tiquete }}
                                    {% endif %}
                                </strong></h3>
                            </div>
                            <!-- Status y Tiempo -->
                            <div class="d-flex py-2">
                                <strong>Status:</strong>
                                <p class="px-1 mb-0">{{ tiquete.estado.estado }}</p>
                            </div>
                            <div class="d-flex mt-1">
                                <strong>Tiempo:</strong>
                                <p class="px-1 mb-0 tiempo_transcurrido">00:00:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <strong class="card-text">Cliente:</strong>
                            <p class="px-2">{{ tiquete.cliente.nombre }} {{ tiquete.cliente.primer_apellido }}</p>
                        </div>
                        <div>
                            <strong>Fecha creación:</strong>
                            <p>{{ tiquete.fecha_creacion }}</p>
                        </div>
                        <div>
                            <strong>Asignado:</strong>
                            <p class="d-block">{{ tiquete.trabajador.nombre }} {{ tiquete.trabajador.primer_apellido }}
                            </p>
                        </div>
                        <div>
                            <strong>Grupo asignado:</strong>
                            <p class="d-block">{{ tiquete.grupo.nombre }}</p>
                        </div>
                        <div>
                            <strong>Resumen:</strong>
                            <p class="d-block">{{ tiquete.resumen }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ url_for('tiquetes.tiquete_detalles', id=tiquete.id_tiquete) }}" class="btn btn-solceri">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane container fade" id="en-espera">
            <div class="container my-cards-container">
                <!-- Aquí se mostrarán los tiquetes en espera -->
                {% for tiquete in tiquetes_en_espera %}
                <div class="card tt-on-time tiquete" style="width: 18rem; max-width: 18rem;"
                    data-fecha-asignacion="{{ tiquete.fecha_asignacion }}" data-on-time="{{ tiquete.grupo.on_time }}"
                    data-running-late="{{ tiquete.grupo.running_late }}" data-is-late="{{ tiquete.grupo.is_late }}">
                    <div class="card-header border-bottom border-primary" id="paint-status">
                        <div class="d-flex flex-column">
                            <!-- Número de tiquete -->
                            <div>
                                <h3 class="mb-0"><strong class="numero_tiquete_dash">
                                    {% if user_role == 1 or user_role == 2 %}
                                        <a href="{{ url_for('tiquetes.tiquete_editar', id=tiquete.id_tiquete) }}"># {{ tiquete.id_tiquete }}</a>
                                    {% else %}
                                        # {{ tiquete.id_tiquete }}
                                    {% endif %}
                                </strong></h3>
                            </div>
                            <!-- Status y Tiempo -->
                            <div class="d-flex py-2">
                                <strong>Status:</strong>
                                <p class="px-1 mb-0">{{ tiquete.estado.estado }}</p>
                            </div>
                            <div class="d-flex mt-1">
                                <strong>Tiempo:</strong>
                                <p class="px-1 mb-0 tiempo_transcurrido">00:00:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <strong class="card-text">Cliente:</strong>
                            <p class="px-2">{{ tiquete.cliente.nombre }} {{ tiquete.cliente.primer_apellido }}</p>
                        </div>
                        <div>
                            <strong>Fecha creación:</strong>
                            <p>{{ tiquete.fecha_creacion }}</p>
                        </div>
                        <div>
                            <strong>Asignado:</strong>
                            <p class="d-block">{{ tiquete.trabajador.nombre }} {{ tiquete.trabajador.primer_apellido }}
                            </p>
                        </div>
                        <div>
                            <strong>Grupo asignado:</strong>
                            <p class="d-block">{{ tiquete.grupo.nombre }}</p>
                        </div>
                        <div>
                            <strong>Resumen:</strong>
                            <p class="d-block">{{ tiquete.resumen }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ url_for('tiquetes.tiquete_detalles', id=tiquete.id_tiquete) }}" class="btn btn-solceri">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane container fade" id="llamar-cliente">
            <div class="container my-cards-container">
                <!-- Aquí se mostrarán los tiquetes para llamar al cliente -->
                {% for tiquete in tiquetes_llamar_cliente %}
                <div class="card tt-on-time tiquete" style="width: 18rem; max-width: 18rem;"
                    data-fecha-asignacion="{{ tiquete.fecha_asignacion }}" data-on-time="{{ tiquete.grupo.on_time }}"
                    data-running-late="{{ tiquete.grupo.running_late }}" data-is-late="{{ tiquete.grupo.is_late }}">
                    <div class="card-header border-bottom border-primary" id="paint-status">
                        <div class="d-flex flex-column">
                            <!-- Número de tiquete -->
                            <div>
                                <h3 class="mb-0"><strong class="numero_tiquete_dash">
                                    {% if user_role == 1 or user_role == 2 %}
                                        <a href="{{ url_for('tiquetes.tiquete_editar', id=tiquete.id_tiquete) }}"># {{ tiquete.id_tiquete }}</a>
                                    {% else %}
                                        # {{ tiquete.id_tiquete }}
                                    {% endif %}
                                </strong></h3>
                            </div>
                            <!-- Status y Tiempo -->
                            <div class="d-flex py-2">
                                <strong>Status:</strong>
                                <p class="px-1 mb-0">{{ tiquete.estado.estado }}</p>
                            </div>
                            <div class="d-flex mt-1">
                                <strong>Tiempo:</strong>
                                <p class="px-1 mb-0 tiempo_transcurrido">00:00:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <strong class="card-text">Cliente:</strong>
                            <p class="px-2">{{ tiquete.cliente.nombre }} {{ tiquete.cliente.primer_apellido }}</p>
                        </div>
                        <div>
                            <strong>Fecha creación:</strong>
                            <p>{{ tiquete.fecha_creacion }}</p>
                        </div>
                        <div>
                            <strong>Asignado:</strong>
                            <p class="d-block">{{ tiquete.trabajador.nombre }} {{ tiquete.trabajador.primer_apellido }}
                            </p>
                        </div>
                        <div>
                            <strong>Grupo asignado:</strong>
                            <p class="d-block">{{ tiquete.grupo.nombre }}</p>
                        </div>
                        <div>
                            <strong>Resumen:</strong>
                            <p class="d-block">{{ tiquete.resumen }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ url_for('tiquetes.tiquete_detalles', id=tiquete.id_tiquete) }}" class="btn btn-solceri">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="tab-pane container fade" id="en-camino">
            <div class="container my-cards-container">
                <!-- Aquí se mostrarán los tiquetes en camino -->
                {% for tiquete in tiquetes_en_camino %}
                <div class="card tt-on-time tiquete" style="width: 18rem; max-width: 18rem;"
                    data-fecha-asignacion="{{ tiquete.fecha_asignacion }}" data-on-time="{{ tiquete.grupo.on_time }}"
                    data-running-late="{{ tiquete.grupo.running_late }}" data-is-late="{{ tiquete.grupo.is_late }}">
                    <div class="card-header border-bottom border-primary" id="paint-status">
                        <div class="d-flex flex-column">
                            <!-- Número de tiquete -->
                            <div>
                                <h3 class="mb-0"><strong class="numero_tiquete_dash">
                                    {% if user_role == 1 or user_role == 2 %}
                                        <a href="{{ url_for('tiquetes.tiquete_editar', id=tiquete.id_tiquete) }}"># {{ tiquete.id_tiquete }}</a>
                                    {% else %}
                                        # {{ tiquete.id_tiquete }}
                                    {% endif %}
                                </strong></h3>
                            </div>
                            <!-- Status y Tiempo -->
                            <div class="d-flex py-2">
                                <strong>Status:</strong>
                                <p class="px-1 mb-0">{{ tiquete.estado.estado }}</p>
                            </div>
                            <div class="d-flex mt-1">
                                <strong>Tiempo:</strong>
                                <p class="px-1 mb-0 tiempo_transcurrido">00:00:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <strong class="card-text">Cliente:</strong>
                            <p class="px-2">{{ tiquete.cliente.nombre }} {{ tiquete.cliente.primer_apellido }}</p>
                        </div>
                        <div>
                            <strong>Fecha creación:</strong>
                            <p>{{ tiquete.fecha_creacion }}</p>
                        </div>
                        <div>
                            <strong>Asignado:</strong>
                            <p class="d-block">{{ tiquete.trabajador.nombre }} {{ tiquete.trabajador.primer_apellido }}
                            </p>
                        </div>
                        <div>
                            <strong>Grupo asignado:</strong>
                            <p class="d-block">{{ tiquete.grupo.nombre }}</p>
                        </div>
                        <div>
                            <strong>Resumen:</strong>
                            <p class="d-block">{{ tiquete.resumen }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ url_for('tiquetes.tiquete_detalles', id=tiquete.id_tiquete) }}" class="btn btn-solceri">Ver Detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
{% endblock %}