{% extends "layout.html" %}
{% block content %}
<section class="tt-dashboard sectionTabs">
    <div class="row py-1">
        <ul class="nav nav-tabs d-flex justify-content-center">
            <li class="col-lg-3 pb-4">
                <a class="nav-link" href="/dashboard">
                    <h4>Tiquetes</h4>
                </a>
            </li>

            <li class="col-lg-3 pb-4">
                <a class="nav-link active show" href="/dashboardRtm">
                    <h4>Empleados</h4>
                </a>
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Tiquete</th>
                    <th>Tiempo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>Tiger Nixon</td>
                    <td>R12345</td>
                    <td>10:30</td>
                    <td>
                        <div class="flex-wrap">
                            <button class="btn btn-success btn-sm" disabled>Disponible</button>
                            <button class="btn-solceri">Asignar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Cat Nixon</td>
                    <td>R12345</td>
                    <td>10:30</td>
                    <td>
                        <div class="flex-wrap">
                            <button class="btn btn-success btn-sm" disabled>Disponible</button>
                            <button class="btn-solceri">Asignar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Bat Nixon</td>
                    <td>R12345</td>
                    <td>10:30</td>
                    <td>
                        <div class="flex-wrap">
                            <button class="btn btn-success btn-sm" disabled>Disponible</button>
                            <button class="btn-solceri">Asignar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Abdulio Nixon</td>
                    <td>R12345</td>
                    <td>10:30</td>
                    <td>
                        <div class="flex-wrap">
                            <button class="btn btn-success btn-sm" disabled>Disponible</button>
                            <button class="btn-solceri">Asignar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="text-center">
                <tr>
                    <th>Nombre</th>
                    <th>Tiquete</th>
                    <th>Tiempo</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
{% endblock %}