<!DOCTYPE html>
<html lang="en">

<head>
    <!--SEO-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Solceri Radiadores WhatsApp: +506 88347613">
    <meta name="author" content="Solceri Radiadores">
    <meta name="keywords" content="Solceri Radiadores, reparación, servicios">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--Favicon-->
    <link rel="icon" href="{{ url_for('static', filename='images/faviconSolceri.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/carrito.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

    <!--Title-->
    <title>Solceri Radiadores</title>

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="solceri-logo" href="/dashboard">
                    <img src="{{ url_for('static', filename='images/logoSolceri.png') }}" alt="Logo Solceri">
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Menú
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/dashboard">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Inicio</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/tiquetes">
                            <i class="align-middle" data-feather="mail"></i> <span class="align-middle">Tiquetes</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/usuarios">
                            <i class="align-middle" data-feather="user-plus"></i> <span
                                class="align-middle">Usuarios</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/grupos">
                            <i class="align-middle" data-feather="users"></i> <span class="align-middle">Equipos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/vacaciones">
                            <i class="align-middle" data-feather="book"></i> <span
                                class="align-middle">Vacaciones</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/categorias">
                            <i class="align-middle" data-feather="folder"></i> <span
                                class="align-middle">Categorias</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/catalogo">
                            <i class="align-middle" data-feather="list"></i> <span class="align-middle">Catalogo</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/cotizacion">
                            <i class="align-middle" data-feather="bar-chart"></i> <span
                                class="align-middle">Cotizaciones</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/reportes">
                            <i class="align-middle" data-feather="file-text"></i> <span
                                class="align-middle">Reportes</span>
                        </a>
                    </li>
                </ul>

                <div class="sidebar-cta">

                    <ul class="sidebar-nav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ url_for('usuarios.logout') }}">
                                <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Cerrar
                                    sesión</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                    data-bs-toggle="dropdown">
                                    <img src="{{ g.user.ruta_imagen if g.user else '/static/images/NPC_3.jpg' }}"
                                        width="40px" style="border-radius: 10px;" alt="usuario">
                                    <span class="text-dark">{{ g.user.nombre if g.user else 'No User' }}</span>
                                </a>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{{ url_for('dashboard.perfil') }}"><i class="align-middle me-1"
                                        data-feather="user"></i>Mi perfil</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    {% block content %}{% endblock %}

                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <strong>Solceri.com</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--Data tables-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


    <!--Ion Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--JS-->
    <script src="/static/js/app.js"></script>
    <script src="/static/src/js/utils.js"></script>
    <!--Utils-->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <!--Categorias-->
    <script src="{{ url_for('static', filename='js/categorias.js') }}"></script>
    <!--Categorias-->
    <script src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
    <!--Catalogo-->
    <script src="{{ url_for('static', filename='js/catalogo.js') }}"></script>
    <!--Vacaciones-->
    <script src="{{ url_for('static', filename='js/vacaciones.js') }}"></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/fullcalendar/dist/index.global.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fullcalendar/dist/locale/es.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fullcalendar/calendario.js') }}"></script>
    <!--Tiquetes-->
    <script src="{{ url_for('static', filename='js/tiquetes.js') }}"></script>
    <!--Grupos-->
    <script src="{{ url_for('static', filename='js/grupos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>

    <script src="https://kit.fontawesome.com/604f525b88.js" crossorigin="anonymous"></script>

</body>

</html>