{% extends "layout.html" %}
{% block content %}

<div>
    <h2><strong>Tiquete # R5236487</strong></h2>
    <form class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div>
                <label for="id_tiquete">ID<span>*</span></label> <!--Consecutivo-->
                <input type="text" class="form-control" name="id_tiquete" placeholder="R5236487" disabled>
            </div>
            <div>
                <label for="cliente">Cliente<span>*</span></label>
                <input type="text" class="form-control" name="cliente" placeholder="Nombre del cliente" disabled>
            </div>
            <div>
                <label for="grupo">Grupo<span>*</span></label>
                <select class="form-select mb-3" name="grupo">
                    <option selected>Seleccione un grupo</option>
                    <option>Grupo 1</option>
                    <option>Grupo 2</option>
                    <option>Grupo 3</option>
                </select>
            </div>
            <div>
                <label for="fecha">Fecha<span>*</span></label> <!--Fecha actual-->
                <input type="date" class="form-control" name="fecha" placeholder="11/04/2024" disabled>
            </div>
            <div>
                <label for="colaborador">Colaborador<span>*</span></label>
                <input type="text" class="form-control" name="colaborador" placeholder="Nombre del coolaborador">
            </div>
            <div>
                <label for="resumen">Resumen<span>*</span></label>
                <input type="text" class="form-control" name="resumen" placeholder="Motivo del tiquete">
            </div>
            <div>
                <label for="descripcion">Descripción<span>*</span></label>
                <textarea class="form-control" rows="3" name="descripcion"
                    placeholder="Descripción del servicio"></textarea>
            </div>
            <div class="pt-2">
                <label for="archivos">Adjunte un archivo <strong>(Opcional)</strong></label>
                <input type="file" id="archivo" name="archivos" accept=".pdf, .doc, .docx, .png, .jpg, .webp">
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div>
                <label for="cliente">Categoría<span>*</span></label>
                <select class="form-select mb-3">
                    <option selected>Seleccione una categoría</option>
                    <option>Reparación</option>
                    <option>Limpieza</option>
                </select>
            </div>
            <div>
                <label for="prioridad">Prioridad<span>*</span></label>
                <input type="text" class="form-control" name="prioridad" placeholder="Prioridad">
            </div>
            <div>
                <label for="estado">Estado<span>*</span></label>
                <input type="text" class="form-control" name="estado" placeholder="Estado">
            </div>
            <div>
                <label for="direccion">Dirección<span>*</span></label>
                <input type="text" class="form-control" name="direccion" placeholder="Dirección de entrega">
            </div>
            <div class="pt-3">
                <a href=""><button class="btn btn-success" style="width: 100%;">Guardar</button></a>
                <a href=""><button class="btn btn-danger mt-3" style="width: 100%;">Cancelar</button></a>
                <a href=""><button class="btn-solceri mt-3" style="width: 100%;">Cotizaciones</button></a>
            </div>
        </div>
    </form>
    <div>
        <div class="p-3">
            <h3><strong>Agregar notas</strong></h3>
        </div>
    </div>
    <div>
        <div>
            <label for="cliente">Agregar comentarios <strong>(Interno)</strong></label>
            <textarea class="form-control" rows="3" placeholder="Descripción del servicio"></textarea>
        </div>
        <div class="pt-2">
            <label for="cliente">Agregar comentarios <strong>(Cliente)</strong></label>
            <div class="textarea-cliente">
                <textarea class="form-control " rows="3" placeholder="Descripción del servicio"></textarea>
            </div>
        </div>
        <div class="pt-3">
            <button class="btn-solceri">Enviar</button>
            <button class="btn btn-danger">Borrar</button>
        </div>
    </div>
    <div>
        <div class="p-3">
            <h3><strong>Correspondencia</strong></h3>
        </div>
        <div>
            <!-- Bloque de comentario -->
            <div class="row profile-tt">
                <div class="col-sm-12 col-md-1 col-lg-1 profile-img-tt">
                    <img src="/static/images/NPC_2.jpg" alt="Usuario Administrador">
                </div>
                <div class="col-sm-12 col-md-11 col-lg-11">
                    <h5>David Gutierrez Ledezma</h5>
                    <span>2024-03-07 4:24 PM (UTC-06:00)</span>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni debitis id, deleniti
                            excepturi minus vel? Quisquam dignissimos alias officia temporibus quod molestiae
                            ratione impedit iure optio, vitae in mollitia voluptatum.</p>
                    </div>
                </div>
            </div>
            <div class="row profile-tt-user">
                <div class="col-md-1 profile-img-tt">
                    <img src="/static/images/NPC_1.jpg" alt="Usuario Administrador">
                </div>
                <div class="col-md-11">
                    <div class="d-flex justify-content-between">
                        <h5>Abdulio Navarro Robles</h5>
                        <span class="msg-client">Cliente</span>
                    </div>
                    <span>2024-03-14 4:24 PM (UTC-06:00)</span>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni debitis id, deleniti
                            excepturi minus vel? Quisquam dignissimos alias officia temporibus quod molestiae
                            ratione impedit iure optio, vitae in mollitia voluptatum.</p>
                    </div>
                </div>
            </div>
            <div class="row profile-tt pt-3">
                <div class="col-md-1 profile-img-tt">
                    <img src="/static/images/system.png" alt="Usuario Administrador">
                </div>
                <div class="col-md-11">
                    <h5>Sistema</h5>
                    <span>2024-03-07 9:24 PM (UTC-06:00)</span>
                    <div>
                        <h6>Alerta tiempo inactividad.</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni debitis id, deleniti
                            excepturi minus vel? Quisquam dignissimos alias officia temporibus quod molestiae
                            ratione impedit iure optio, vitae in mollitia voluptatum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}