    {% extends "layout.html" %}
    {% block content %}
    <div class="d-flex justify-content-between">
        <h2>Lista de Tiquetes</h2>
        <a href="{{ url_for('tiquetes.tiquete_crear') }}" class="btn btn-primary">Crear Nuevo Tiquete</a>
    </div>

    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>Resumen</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Grupo Asignado</th>
                <th>Trabajador Designado</th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Fecha de Creación</th>
                <th>Última Asignación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tiquete in tiquetes %}
            <tr>
                <td>{{ tiquete.resumen }}</td>
                <td>{{ tiquete.descripcion }}</td>
                <td>{{ tiquete.cliente.nombre }}</td>
                <td>{{ tiquete.grupo.nombre if tiquete.grupo else 'No asignado' }}</td>
                <td>{{ tiquete.trabajador.nombre if tiquete.trabajador else 'No asignado' }}</td>
                <td>{{ tiquete.categoria.nombre if tiquete.categoria else 'No asignada' }}</td>
                <td>{{ tiquete.estado.estado }}</td>
                <td>{{ tiquete.fecha_creacion }}</td>
                <td>{{ tiquete.ultima_asignacion }}</td>
                <td>
                    <a href="{{ url_for('tiquetes.tiquete_editar', id_tiquete=tiquete.id_tiquete) }}" class="btn btn-warning btn-sm">Editar</a>
                    <form action="{{ url_for('tiquetes.tiquete_eliminar', id_tiquete=tiquete.id_tiquete) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
