{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div>
    <h1 class="pb-3 section-title">Usuarios</h1>
</div>

<div class="d-flex justify-content-between">
    <form method="GET">
        <div>
            <label for="buscar">Buscar:</label>
            <input type="text" name="query" id="buscar" placeholder="Datos del usuario" onkeyup="buscarUsuarios()">
        </div>
    </form>
    <div>
        <a href="{{ url_for('usuarios.usuarios_crear') }}"><button class="btn-solceri" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Agregar</button></a>
    </div>
</div>

{% if usuarios %}
<div class="table-responsive">
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Cédula</th>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for usuario in usuarios %}
            <tr class="usuario">
                <td class="cedula">{{ usuario.cedula }}</td>
                <td class="nombre-completo">{{ usuario.nombre }} {{ usuario.primer_apellido }} {{
                    usuario.segundo_apellido }}</td>
                <td class="correo">{{ usuario.correo }}</td>
                <td><img src="{{ usuario.ruta_imagen }}" width="50px" alt="Foto de perfil"></td>
                <td>{{ usuario.rol.rol }}</td>
                <td>{% if usuario.estado %} Activo {% else %} Inactivo {% endif %}</td>
                <td>
                    <div class="flex-wrap">
                        <a href="{{ url_for('usuarios.usuarios_editar', id=usuario.id_usuario) }}"
                            style="text-decoration: none;" class="btn-solceri"><strong>Modificar</strong></a>

                        {% if usuario.estado %}
                        <button class="btn btn-dark btn-md" style="color: white;"
                            onclick="desactivarUsuario('{{ usuario.cedula }}', '{{ usuario.id_usuario }}')"><strong>Inactivar</strong></button>
                        {% else %}
                        <button class="btn btn-success btn-md" style="color: white;"
                            onclick="activarUsuario('{{ usuario.cedula }}', '{{ usuario.id_usuario }}')"><strong>Activar</strong></button>
                        {% endif %}

                        <a href="#" style="text-decoration: none;" class="btn-solceri-eliminar"
                            data-cedula="{{ usuario.cedula }}"
                            data-url="{{ url_for('usuarios.eliminar_usuario', id_usuario=usuario.id_usuario) }}"
                            onclick="confirmDeleteUsuario(this)">
                            <strong>Eliminar</strong>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="text-center">
            <tr>
                <th>Cédula</th>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
    </table>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center flex-column" style="height: 50vh;">
    <img src="{{ url_for('static', filename='images/empty.png') }}" alt="Not found" class="img-empty">
    <p class="mt-3">No se han encontrado usuarios</p>
</div>
{% endif %}

{% endblock %}