{% extends "layout.html" %}
{% block content %}

<div class="d-flex justify-content-between">
    <div>
        <label for="nombre">Buscar:</label>
        <input type="text" placeholder="Datos del usuario">
    </div>
    <div>
        <a href="{{ url_for('usuarios.usuarios_crear') }}"><button class="btn-solceri" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar</button></a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Cédula</th>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.cedula }}</td>
                <td>{{ usuario.nombre }} {{ usuario.primer_apellido }} {{ usuario.segundo_apellido }}</td>
                <td>{{ usuario.correo }}</td>
                <td><img src="{{ usuario.ruta_imagen }}" width="50px" alt="Foto de perfil"></td>
                <td>{{ usuario.rol.rol }}</td>
                <td>{% if usuario.estado %} Activo {% else %} Inactivo {% endif %}</td>
                <td>
                    <div class="flex-wrap">
                        <button class="btn-solceri"> <strong>Modificar</strong></button>
                        <button class="btn btn-warning btn-md" style="color: white;"><strong>Inactivar</strong></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="text-center">
            <tr>
                <th>Cédula</th>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}
