{% extends "layout.html" %}
{% block content %}

<h2>Vacaciones</h2>
<div class="d-flex justify-content-between">

    <div>
        <label for="nombre">Buscar:</label>
        <input type="text" placeholder="Datos del usuario">
    </div>
    <div>
        <a href="/vacaciones/nueva"><button class="btn-solceri">Nueva solicitud</button></a>
        <!--Filtrar por rol-->
        <a href="/vacaciones/vacaciones_rechazadas"><button class="btn btn-danger btn-md">Archivadas</button></a>
    </div>
</div>

<!-- Calendario es para todos -->

<!-- Mis solicitudes: Por rol -->

<!--select * from vacaciones where userid = session.-->

<!-- Pendientes: Por rol -->

<!--select * fromm vacaciones where estado = "Pendiente" -->

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Solicitud de vacaciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row profile-tt">
                    <div class="col-sm-12 col-md-1 col-lg-2 profile-img-tt">
                        <img src="/static/images/NPC_2.jpg" alt="Usuario Administrador">
                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        <h5>David Gutierrez Ledezma</h5>
                        <div>
                            <span><strong> De: 2024-03-07</strong></span>
                            <span class="px-4"> <strong>A: 2024-03-10</strong></span>
                        </div>


                        <div class="py-3">
                            <p>Estoy cansado Jefe.</p>
                        </div>
                        <span style="color: #3e3e3f;">Fecha solicitud: 2024-03-07 4:24 PM (UTC-06:00)</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Listo</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}